[submodule "keymaster"]
	path = keymaster
	url = https://github.com/madrobby/keymaster
[submodule "jquery-simulate-ext"]
	path = jquery-simulate-ext
	url = https://github.com/j-ulrich/jquery-simulate-ext.git
